/* be-vietnam-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/be-vietnam-pro-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/be-vietnam-pro-v12-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/be-vietnam-pro-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/be-vietnam-pro-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/be-vietnam-pro-v12-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/be-vietnam-pro-v12-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

body {
  height: 100vh;
  width: 1440px;
  font-family: "Be Vietnam Pro";
  background-image: url("../img/Rectangle.png");
  background-repeat: no-repeat;
  background-position: 750px 20px;
}

.parent {
  margin-top: 56px;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  margin-left: 209px;
  gap: 32px;
  a {
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #242d52;
  }
  a:hover {
    color: blue;
  }
}

.logo {
  margin-left: 165px;
}

.button {
  margin-left: 219px;
  margin-right: 165px;
  background: #f3603c;
  padding: 12px 32px;
  border-radius: 22px;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #fcf6f5;
}

/*main*/

.hero-container {
  display: flex;
  align-items: center;
  margin-top: 120px;
  padding-left: 165px;
  padding-right: 165px;
  h1 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #242d52;
  }
  p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #242d52;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  a {
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0px;
    background-color: #f3603c;
    padding: 12px 32px;
    border-radius: 22px;
    color: #fcf6f5;
  }
}

.hero-link {
  margin-top: 80px;
}

.hero-content {
 max-width: 445px;
}

.hero-img {
  max-width: 540px;
}
